<p>Welcome @{{ user.username }}!</p>

<p>
    Welcome to the internal order management system for employees, daily we will send the menu via slack in the channel
     <a href="https://test-corners-shop.slack.com/archives/C025WRTBD29">https://test-corners-shop.slack.com/archives/C025WRTBD29</a>
     your credentials are: :
</p>

<p style="text-align:center">
    <code style="text-align:center">
        email : {{ user.email }}
    </code>
</p>
<p style="text-align:center">
    <code style="text-align:center">
        pasword: {{ password }}
    </code>
</p>
